.full-size-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.image-overlay {
    position: absolute;
    height: inherit;
    width: 100%;
    background: rgba(0, 0, 0, .5);

}
.center-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 10000;

}

.bg-md-image {
    position: relative; height: 300px; background: url("imgs/know-christ.jpg")  no-repeat center; background-size: cover;
}

blockquote {
    margin: 3rem 0 3rem 0!important;
    padding: 1.8rem;

    p {
        margin: 0;
    }
}

.blockquote-bg {
    background-color: #eee;
}