.full-size-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}


.full-size-image-1 {
    @include breakpoint(xs-portrait) {
         background-image: url("/imgs/jesus-crucified-mobile-portrait.png");
    }
    @include breakpoint(xs-landscape) {
         background-image: url("/imgs/jesus-crucified-mobile-landscape.png");
    }
    @include breakpoint(md) {
        background-image: url("/imgs/jesus-crucified.png");
    }
}

.full-size-image-2 {
    @include breakpoint(xs-portrait) {
         background-image: url("/imgs/jesus-whipped-mobile-portrait.png");
    }
    @include breakpoint(xs-landscape) {
         background-image: url("/imgs/jesus-whipped-mobile-landscape.png");
    }
    @include breakpoint(md) {
        background-image: url("/imgs/jesus-whipped.png");
    }
}

.full-size-image-3 {
    @include breakpoint(xs-portrait) {
         background-image: url("/imgs/christian-discriminization-mobile-portrait.png");
    }
    @include breakpoint(xs-landscape) {
         background-image: url("/imgs/christian-discriminization-mobile-landscape.png");
    }
    @include breakpoint(md) {
        background-image: url("/imgs/christian-discriminization.png");
    }
}

.full-size-image-4 {
    @include breakpoint(xs-portrait) {
         background-image: url("/imgs/christian-arrested-mobile-portrait.png");
    }
    @include breakpoint(xs-landscape) {
         background-image: url("/imgs/christian-arrested-mobile-landscape.png");
    }
    @include breakpoint(md) {
        background-image: url("/imgs/christian-arrested.png");
    }
}


.image-overlay {
    position: absolute;
    height: inherit;
    width: 100%;
    background: rgba(0, 0, 0, .5);

}
.center-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 10000;

}

.bg-md-image {
    position: relative; height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

blockquote {
    margin: 3rem 0 3rem 0!important;
    padding: 1.8rem;

    p {
        margin: 0;
    }
}

.blockquote-bg {
    background-color: #eee;
}

.my-5 {
    margin-top: 5rem!important;
    margin-bottom: 5rem!important;
}